<div class="flex flex-col sm:flex-row border border-white p-4 rounded-lg justify-between w-full ">
  <strong><%= name %></strong>

  <div class="flex gap-4 items-center text-yin-600">
    <span>
      <%= render ButtonComponent.new(text: action, to: team_seat_path(seat.team, seat), method: :delete, style: :text) %>
    </span>
  </div>
</div>
