<article class="flex flex-col gap-2">
  <%= user.display_name %>

  <% sections.each_with_index do |section, index| %>
  <section class="flex flex-col gap-2">

    <header>
      <h2 class="font-bold text-md"><%= section["name"] %></h2>
    </header>

    <ul>
      <% section["content"].each do |content| %>
        <li><%= content %></li>
      <% end %>
    </ul>

  </section>
  <% end %>
</article>