<div class="text-center flex flex-col gap-12 mt-40">
  <h1 class="text-4xl font-bold">Do the Thing.</h1>

  <div>
    <%= render LinkComponent.new(text: "Get Started", to: new_registration_path, style: :filled, level: :secondary) %>
  </div>
</div>
