<h1 class="font-bold text-4xl">Update your password</h1>

<%= form_with url: password_path(params[:token]), method: :put, class: "contents flex flex-col gap-4" do |form| %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2  w-full" %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2  w-full" %>

  <div class="inline">
    <%= form.simple_submit(text: 'Save') %>
  </div>
<% end %>
