<% module_namespacing do -%>
class <%= class_name %>Service
  def initialize(<%= file_name %>)
    @<%= file_name %> = <%= file_name %>
  end

  attr_reader :<%= file_name %>

  def call
    # TODO: Implement service logic
    @<%= file_name %>
  end

  private

end
<% end -%>